.header {
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: (0 2px 5px 0 rgba(0, 0, 0, 0.2));
  padding: 5px 20px;

  &__logo {
    appearance: none;
    border: none;
    height: 46px;
    width: 46px;
    cursor: pointer;
    background: url('../../images/logo.svg') no-repeat;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
  }

  &__username {
    font-size: 16px;
    line-height: 18px;
  }

  &__sign-btn {
    appearance: none;
    border: none;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
    background-color: #e64980;
    color: white;
    border-radius: 3px;
    height: 30px;
    padding: 0px 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

    &:active {
      box-shadow: none;
      background-color: #d6336c;
    }
  }
}
