.editor {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #adb5bd;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__controls {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &__controls-block-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__controls-wrapper {
    display: flex;
    flex-direction: row;
    gap: 3px;;
  }

  &__text-area {
    margin: 0;
    padding: 0;
    border: 1px solid #adb5bd;
    height: 50vh;
    cursor: text;
    overflow: scroll;
  }

  &__file-input {
    &::file-selector-button {
      appearance: none;
      border: none;
      background: url('../../images/text-editor/file.svg') no-repeat;
      cursor: pointer;
      width: 32px;
      height: 32px;
      color: rgba(0, 0, 0, 0);
    }
  }

  &__submit-btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
